<%- include('includes/head.ejs') %>
  </head>
  <body>
    <%- include('includes/navbar.ejs') %>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 pt-5">
          <h1>Dashboard</h1>
          <p>
            Your Twitter ID: <%= user.twitterUid %>
          </p>
          <p>
            Your connected lapps:
          </p>
          <table class="table table-hover">
            <thead>
              <th scope="col">Service</th>
              <th scope="col">lnurl</th>
              <th scope="col">Remove</th>
            </thead>
            <tbody>
              <% user.services.forEach(service => { %>
                <tr>
                  <th scope="row"><%= service.name %></th>
                  <td><%= service.invoice %></td>
                  <td>
                    <form action="/users/remove_lapp" method="POST">
                      <input type="hidden" name="service_id" value="<%= service._id %>">
                      <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
          <form action="/users/add_lapp" method="POST">
            <fieldset>
              <legend>Connect Lapp:</legend>
              <div class="form-group">
                <select class="form-control w-25" name="service">
                  <option>Tippin.me</option>
                  <option>Spotlight</option>
                  <option>Lntxbot</option>
                </select>
                <input type="text" name="invoice" class="form-control" placeholder="Paste lnurl">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

<%- include('includes/end.ejs') %>